.header {
  width: calc(100vw - 24rem);
  height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(24rem);
  background-color: transparent;
  z-index: 3;
  transition: 250ms all ease-in-out;
}

.navbar {
  width: 110rem;
  padding-right: 1rem;
  height: 9rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  transition: 250ms all ease-in-out;
}

.header_menu {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(250, 250, 250, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_menu li {
  margin: 0 2.8rem;
  cursor: pointer;
  transition: 250ms all ease-in-out;
}

.icon {
  margin-left: 0.6rem;
}

.icon_only {
  font-size: 2rem;
  color: rgba(250, 250, 250, 0.6);
  transition: 250ms all ease-in-out;
}

.header_menu li:hover,
.icon_only:hover {
  color: white;
}

.search {
  width: 53rem;
  height: 4.5rem;
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.5rem;
  transition: 250ms all ease-in-out;
}

.search input {
  width: 100%;
  height: 100%;
  padding: 0.7rem 1.2rem;
  font-size: 1.7rem;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent;
}

.search:focus-within {
  background-color: rgb(250, 250, 250);
}

.search_icon {
  font-size: 2rem;
  color: var(--color-black);
}

.off {
  background-color: transparent;
}

.on {
  height: 7rem;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  color: var(--color-black);
  transform: translateY(20px);
}

.on .header_menu {
  color: var(--color-black);
}

.on .header_menu li:hover,
.on .icon_only:hover {
  color: #ff8e9e;
}

.on .search {
  background-color: rgb(243, 243, 243);
}

.on .search:focus-within {
  background-color: rgb(232, 232, 232);
}

.on .icon_only {
  color: var(--color-black);
}

@media screen and (max-width: 1400px) {
  .header {
    width: 100%;
    transform: translateX(0);
  }
}
