.sidebar {
  width: 24rem;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: 250ms all ease-in-out;
  overflow-y: scroll;
  z-index: 4;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_container {
  padding: 2rem;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    transform: translateX(-24rem);
  }
}
