.home_section {
  width: 115rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
  margin: auto;
}

.title {
  font-size: 3.7rem;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.4rem 0 5rem 0;
}

.container {
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .home_section {
    width: 70rem;
  }
}

@media screen and (max-width: 730px) {
  .home_section {
    width: 40rem;
  }
}

@media screen and (max-width: 500px) {
  .home_section {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
