.menu_popup {
  width: 90vw;
  max-width: 66rem;
  height: 37rem;
  background-color: white;
  z-index: 4;
  border-radius: 12px;
  position: absolute;
  top: 9rem;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-black);
  padding: 3.5rem 1.5rem 5rem 4rem;
  transition: 250ms all ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.off {
  visibility: collapse;
  opacity: 0;
  transform: translateY(-14px);
}

.on {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu_popup div {
  width: 19rem;
  border: none !important;
}

.menu_popup p {
  color: #ff8e9e;
  padding-left: 1rem;
}

.menu_popup p svg {
  display: none;
}

.menu_popup li {
  padding-left: 1rem !important;
}

@media screen and (max-width: 1150px) {
  .menu_popup {
    display: none;
  }
}
