.banner {
  width: 100%;
  height: 60vh;
}

.data_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(24rem);
  width: calc(100% - 24rem);
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  transition: 250ms all ease-in-out;
}

.data_container h1 {
  font-size: 3.4rem;
  color: white;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.data_container p {
  font-size: 1.8rem;
  color: white;
  padding: 0 2rem;
}

.data_container span {
  margin: 0 1.6rem;
}

.data_container svg {
  margin-right: 0.5rem;
}

.banner img {
  width: 100%;
  height: auto;
  min-height: 60vh;
  overflow-y: hidden;
  z-index: 0;
}

@media screen and (max-width: 1400px) {
  .data_container {
    width: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .data_container h1 {
    font-size: 3rem;
  }

  .data_container p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .data_container h1 {
    font-size: 2.6rem;
  }
}
