.main {
  width: calc(100% - 24rem);
  min-height: 100vh;
  margin-left: 24rem;
  transition: 250ms all ease-in-out;
}

@media screen and (max-width: 1400px) {
  .main {
    width: 100%;
    margin-left: 0;
  }
}
