.item {
  width: 35rem;
  height: 44rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin: calc(10rem / 6);
  cursor: pointer;
  transition: 250ms all ease-in-out;
  background-color: white;
}

.item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.image_container {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: white;
}

.item:hover .image {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;

  transition: 250ms all ease-in-out;
}

.data_container {
  padding: 1.8rem 2rem;
}

.data_container h2 {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 1.3rem;
}

.content {
  font-size: 1.5rem;
  color: var(--color-lightgray);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 2.2rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.date {
  font-size: 1.5rem;
}

.button_container {
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1.3rem;
}

.like_icon {
  margin-right: 0.4rem;
  font-size: 2rem;
  color: #ff8e9e;
}

.comment_icon {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: var(--color-green);
}

@media screen and (max-width: 1150px) {
  .item {
    width: 30rem;
    min-height: 40rem;
    height: auto;
    margin: calc(6rem / 4);
  }

  .data_container {
    padding-bottom: 0;
  }

  .image {
    height: 20rem;
  }

  .content {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 730px) {
  .item {
    width: 35rem;
    height: 44rem;
    margin: calc(10rem / 6);
  }

  .image {
    height: 22rem;
  }

  .data_container {
    padding-bottom: 2rem;
  }

  .content {
    -webkit-line-clamp: 4;
  }
}

@media screen and (max-width: 500px) {
  .item {
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }
  .content {
    -webkit-line-clamp: 3;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
