.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
  border-bottom: 1px solid rgb(244, 241, 241);
}

.user img {
  width: 10rem;
  height: 10rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name {
  font-size: 1.8rem;
  color: var(--color-black);
  margin-top: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.desc {
  font-size: 1.4rem;
  color: var(--color-lightgray);
}

.button_container {
  width: 21rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 16px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.button_container button {
  width: 5rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 250ms all ease-in-out;
}

.button_container button:hover {
  transform: scale(1.2) translateY(-2px);
}

.icon_home {
  color: rgb(97, 212, 241);
}

.icon_git {
  font-size: 2.2rem;
  color: #ff8e9e;
}

.icon_dark {
  color: #ffe15d;
}

@media screen and (max-width: 1150px) {
  .user {
    padding-top: 11rem;
  }
}
