.article_section {
  position: absolute;
  width: calc(100% - 24rem);
  top: 60vh;
  height: 100vh;
  background-color: white;
}

.main article {
  width: 100rem;
  padding: 10rem 0;
  margin: auto;
}

.main article h1 {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 1.6rem 0;
}

.main article h2 {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.main article h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 1.4rem 0;
}

.main article h4 {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0;
}

.main article p,
.main article li,
.main article pre {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-lightgray);
  margin: 1rem 0;
  line-height: 4rem;
}

.main article pre {
  width: 100%;
  overflow-x: scroll;
  background-color: #f6f8fa;
  padding: 1.6rem;
  border-radius: 6px;
}

.main article pre::-webkit-scrollbar {
  display: none;
}

.main article p {
  line-height: 2.6rem;
}

.main article hr {
  background: var(--color-pink);
  height: 2px;
  border: 0;
}

.main article ol {
  padding-left: 3rem;
}

.main article ul {
  padding-left: 2rem;
  list-style: initial;
}

@media screen and (max-width: 1400px) {
  .article_section {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .main article {
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .main article {
    padding: 3rem 2rem;
  }

  .main article h1 {
    font-size: 3.2rem;
    margin: 1.3rem 0;
  }

  .main article h2 {
    font-size: 2.5rem;
    margin: 1.2rem 0;
  }

  .main article h3 {
    font-size: 2rem;
    margin: 1.1rem 0;
  }

  .main article h4 {
    font-size: 1.8rem;
    margin: 0.9rem 0;
  }

  .main article p,
  .main article li,
  .main article pre {
    font-size: 1.5rem;
    color: var(--color-lightgray);
    margin: 1rem 0;
    line-height: 4rem;
  }
}
