.article_section {
  position: absolute;
  width: calc(100% - 24rem);
  top: 60vh;
  min-height: 100vh;
  background-color: white;
}

.warning_container {
  width: 76.8rem;
  background-color: rgba(252, 226, 219, 0.5);
  margin: 8rem auto 6rem auto;
  padding: 2rem;
  font-size: 1.7rem;
  border-radius: 6px;
  animation: 600ms appearFromTop;
  animation-delay: 600ms;
  animation-fill-mode: both;
}

.warning_container p {
  white-space: pre-line;
  line-height: 3.4rem;
}

.warning_container span {
  margin-right: 1rem;
}

.warning_top {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.warning_top p {
  margin-bottom: 2rem;
}

.main article {
  width: 76.8rem;
  padding-bottom: 10rem;
  margin: auto;
  animation: 600ms appearFromTop;
  animation-delay: 600ms;
  animation-fill-mode: both;
  border-bottom: 2px solid rgb(244, 241, 241);
}

.main article h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.6rem 0;
}

.main article h2 {
  font-size: 2.7rem;
  font-weight: 700;
  margin: 1.5rem 0;
}

.main article h3 {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 1.6rem 0;
}

.main article h4 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 1rem 0;
}

.main article p,
.main article li,
.main article pre {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-lightgray);
  margin: 1rem 0;
}
.main article li {
  line-height: 4.6rem;
}

.main article li p {
  margin-left: 0.6rem;
}

.main article pre {
  line-height: 1.7;
}

.main article a {
  color: #9fd9f2;
}

.main article pre {
  width: 100%;
  overflow-x: scroll;
  background-color: #f6f8fa;
  padding: 1.6rem;
  border-radius: 6px;
}

.main article pre::-webkit-scrollbar {
  display: none;
}

.main article p {
  line-height: 1.7;
}

.main article hr {
  background: #eaecef;
  height: 2px;
  border: 0;
  margin: 2rem 0;
}

.main article ol {
  padding-left: 2rem;
}

.main article ul {
  padding-left: 2rem;
  list-style: initial;
}

.main article img {
  width: 100%;
  border-radius: 6px;
}

.button_container {
  width: 100%;
  padding: 2rem 0;
}

.button_container button {
  padding: 1.6rem 5rem;
  border-radius: 32px;
  border: 1px solid rgb(228, 216, 216);
  font-size: 1.8rem;
  transition: 250ms all ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.button_container button:hover {
  background-color: var(--color-pink);
  box-shadow: 0 0 10px var(--color-pink);
  transform: translateY(-4px);
}

.button_container button svg {
  color: var(--color-red);
  font-size: 2rem;
  margin-right: 0.7rem;
}

.comment_section {
  width: 76.8rem;
  margin: auto;
  padding: 5rem 0 10rem 0;
}

.comment_count {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.main article blockquote {
  min-height: 2rem;
  border-left: 8px solid var(--color-blue);
  padding: 0.8rem 2rem;
  margin: 1.4rem 0;
  background-color: rgb(252, 252, 252);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.main article blockquote p {
  color: var(--color-lightgray);
}

.main article table {
  width: 100%;
  background-color: #f4f6f7;
}

.main article table th {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-blue);
  text-align: center;
}

.main article table td {
  background-color: white;
  padding: 2rem;
}

.main article table td p {
  word-break: keep-all;
}

@media screen and (max-width: 1500px) {
  .article_section {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main article {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .warning_container {
    width: calc(100% - 3rem);
  }

  .comment_section {
    width: 100%;
    padding: 4rem 1.5rem 10rem 1.5rem;
  }

  .main article table {
    display: block;
    white-space: normal;
    overflow-x: auto;
    width: max-content;
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .warning_container {
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .warning_container p {
    line-height: 2.7rem;
  }

  .warning_top {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
  }

  .main article {
    padding: 3rem 1.5rem;
  }

  .main article h1 {
    font-size: 2.5rem;
    margin: 1.3rem 0;
  }

  .main article h2 {
    font-size: 2.3rem;
    margin: 1.2rem 0;
  }

  .main article h3 {
    font-size: 2rem;
    margin: 1.1rem 0;
  }

  .main article h4 {
    font-size: 1.7rem;
    margin: 0.9rem 0;
  }

  .main article p,
  .main article li,
  .main article pre {
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 2.8rem;
  }
  .main article li p {
    margin-left: 0.2rem;
  }
  .main article blockquote {
    border-width: 6px;
  }
}

@keyframes appearFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
