:root {
  /* --color-black: #2f3438; */
  --color-black: #2c3e50;
  --color-lightgray: #687074;
  --color-mint: #7fe9de;
  --color-green: #b3ffae;
  --color-blue: #b8e8fc;
  --color-pink: #fce2db;
  --color-red: #ff6464;
  --color-yellow: #ff0;
}
