@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("./constants.css");

html {
  font-size: 62.5%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

ul {
  list-style: none;
}

input,
textarea {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  color: var(--color-light-black);
  outline: none;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-light-black);
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

code {
  color: #8250df;
}

code .hljs-keyword {
  color: #cf222e;
}

.hljs-function {
  color: #0550ae;
}

.hljs-number {
  color: #0550ae;
}
