.top_banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.top_banner img {
  width: 100%;
  height: auto;
  min-height: 60vh;
}

.data_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(24rem);
  width: calc(100% - 24rem);
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 250ms all ease-in-out;
}

.query {
  font-size: 5rem;
  color: white;
  font-weight: 700;
  margin-top: 5rem;
}

.count {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  margin-top: 3rem;
}

.article_section {
  width: 115rem;
  min-height: 40vh;
  padding: 5rem 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loader_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nothing_container {
  width: 100%;
  height: 30rem;
  line-height: 30rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .data_container {
    width: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1150px) {
  .article_section {
    width: 70rem;
  }
}

@media screen and (max-width: 730px) {
  .article_section {
    width: 40rem;
  }

  .query {
    font-size: 4rem;
    margin-top: 5rem;
  }

  .count {
    font-size: 2rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .article_section {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .query {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .count {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}
